body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1 {
    font-weight: 600;
    margin-bottom: 0.8rem;
    
}

h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: medium;
    margin-top: 0;
}

h3 {
    font-weight: 400;
    font-size: small;
}

.profile-photo {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.flow {
    width: 70%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 0.8rem;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

button {
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 0.5rem;
    width: 90%;
    height: 2.5rem;
    border-radius: 5px;
    background: hsl(0, 0%, 20%);
    border: 0;
    font-weight: 600;
}



.btn:hover {
    background: hsl(75, 94%, 57%);
    text-decoration: none;
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}







/* Footer */
footer {
    margin-top: 3rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution .ang {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 735px){
    .flow {
        width: 30%;
    }

    body {
        height: 100%;
    }
}